aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
annotated-types
antlr4-python3-runtime
attrs
blobfile
certifi
charset-normalizer
colorama
contourpy
cycler
datasets
dill
filelock
fonttools
frozenlist
fsspec
h5py
hf-transfer
huggingface-hub
idna
jinja2
joblib
kagglehub
kiwisolver
lxml
markupsafe
matplotlib
mpmath
mss
multidict
multiprocess
networkx
ninja
numpy
omegaconf
opencv-python-headless
packaging
pandas
pillow
propcache
psutil
pyarrow
pycryptodomex
pydantic
pydantic-core
pyparsing
python-dateutil
pytz
pyyaml
regex
requests
safetensors
scikit-learn
scipy
sentencepiece
setuptools
simsimd
six
stringzilla
sympy
threadpoolctl
tiktoken
tokenizers
tqdm
typing-extensions
tzdata
urllib3
wheel
xxhash
yarl
torchtune
torchao
opencv-python
git+https://github.com/KellerJordan/Muon